.Home {
    margin: 0 auto;
    width: 960px;
}

.Home h1 {
    font-size: 32px;
    color: gray;
}

.Home p {
    color: gray;
    text-align: center;
}

.Home a {
    color: blue;
    text-decoration: none;
}

.Home a:hover {
    color: gray;
}